@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }
        CBBANK
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/icheck/blue.min.css" rel="stylesheet">
    @Styles.Render("~/Bundles/css")
    @RenderSection("CSS", false)
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            <!----section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Description</small>
                </h1>
            </section-->

            <section class="content" id="page-content">
                @RenderBody()
            </section>
        </div>

        @Html.Partial("_ControlSidebar")
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    <script type="text/javascript">
        $.fn.modal.Constructor.prototype.enforceFocus = function () { };

        $(function () {

            LookupEnum = function (options, value) {
                var el = $.Enumerable.From(options).SingleOrDefault(null, function (x) {
                    return x.Value === value;
                });
                return el == null ? '' : el.Text;
            }
            numberWithCommas = function (x) {
                if (typeof x == 'undefined')
                    return "";
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }


            $(".navbar-language li").on("click", "a", function () {
                event.preventDefault();
                //alert("test");

                $(this).parent().removeClass("active");
                $(this).addClass("active");
                selected = $(this).data('value');
                $.ajax({
                    method: "GET",
                    url: '@Url.Action("Change","Language")',
                    dataType: "text",
                    data: { data: selected },
                    success: function () {
                        //  $(this).addClass("done");
                    }
                });

            });

            $("#language").change(function () {
                var selected = this.value;


            });
            updateCheckboxUI = function () {
                $('input[type="checkbox"], input[type="radio"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                    radioClass: "iradio_minimal-blue"
                });

            }
            updateSelectUI = function (root) {
                $("select").select2({
                    dropdownParent: root
                });
            }

            numberWithCommas = function(x) {
                if (typeof x == 'undefined')
                    return "";
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }



            String.format = function () {
                var s = arguments[0];
                for (var i = 0; i < arguments.length - 1; i += 1) {
                    var reg = new RegExp('\\{' + i + '\\}', 'gm');
                    s = s.replace(reg, arguments[i + 1]);
                }
                return s;
            };
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "300",
                "timeOut": "10000",
                "extendedTimeOut": "10000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        })
    </script>
    @RenderSection("Scripts", false)
</body>
</html>