@model Network.Domain.DTO.ContractDTO
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">


        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Contract</h3>
        </div>
        <div class="modal-body">


            <div class="form-horizontal" data-bind="with: selectedDTO">
                <h4>Edit</h4>
                <hr />

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <select style="width:295px!important" data-bind="options: $root.locations, optionsText: 'LocationName', optionsValue: 'LocationId', value: LocationId" class="col-xs-12 "></select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input class="form-control" data-bind="value: ContractName" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input class="form-control" data-bind="value: ContractNumber" />
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.PartnerId, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <select style="width:295px!important" data-bind="options: $root.partners, optionsText: 'PartnerName', optionsValue: 'PartnerId', value: PartnerId" class="col-xs-12 "></select>
                        </div>
                    </div>





                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractBalance, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input class="form-control" data-bind="money: ContractBalance" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractIsTax, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="checkbox">
                                <input type="checkbox" class="" data-bind="checked: ContractIsTax" /> VAT
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractDeposit, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <input class="row form-control " data-bind="value: ContractDeposit" />
                            </div>
                            <label class="control-label col-md-8" data-bind="text: ContractDeposit() && ContractBalance()? numberWithCommas(ContractDeposit()*ContractBalance()): 0"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractFirstPayDate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">

                            <input id="datemask" class="form-control" data-bind="datepicker: ContractFirstPayDate, datepickerOptions: { 'dateFormat': 'dd/mm/yyyy' }" />
                            <!--
                            <input class="form-control datepicker" data-bind="value: ContractFirstPayDate()? ContractFirstPayDate(): ''" />
                            <input data-bind="datepicker: ContractFirstPayDate , datepickerOptions: { minDate: new Date() }" />
                            -->
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractSignedDate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input id="datemask" class="form-control" data-bind="datepicker: ContractSignedDate" />
                            
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractValidDate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input id="datemask" class="form-control " data-bind="datepicker: ContractValidDate" />
                            
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractInvalidDate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input id="datemask" class="form-control " data-bind="datepicker: ContractInvalidDate" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractSchedulePayment, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">

                            <select style="width:295px!important" data-bind="options: $root.schedulePayment, optionsText: 'Text', optionsValue: 'Value', value: ContractSchedulePayment" class="col-xs-12 "></select>

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractConditionTermEnd, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input class="form-control" data-bind="value: ContractConditionTermEnd" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractConditionExtension, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input class="form-control" data-bind="value: ContractConditionExtension" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div data-bind="foreach: ContractFileAttachments">
                        <div class="col-md-6">

                            <div class="form-group">
                                <div class="col-md-7">
                                    <input data-bind="attr:{'id': FileAttachmentId},event:{change: $root.changeFile1}" type="file" class="fileChooser form-control" />
                                </div>
                                <div class="col-md-5">
                                    <label>
                                        <input type="checkbox" class="" data-bind1="checked: FileAttachmentStatus" />Active
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="col-md-9 form-control" data-bind="value: FileName" />
                                </div>
                                <div class="col-md-3">

                                    <input type="checkbox" class="" data-bind="checked: FileAttachmentStatus" />

                                </div>
                                <div class="col-md-3">
                                    <button data-bind="click: $root.deleteFileAttachment" class="btn btn-xs btn-danger">remove</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-7">
                                    <select style="width:295px!important" data-bind="options: $root.contractType, optionsText: 'Text', optionsValue: 'Value', value: ContractType" class="col-xs-12 "></select>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="#datemask" class="datepicker form-control" data-bind="value: FileAttachmentValidDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button data-bind="click: $root.createFileAttachment" class="btn btn-primary">Add File</button>
                    </div>
                </div>





            </div>
        </div>


        <div class="modal-footer">
            <button data-bind="click: edit" class="btn btn-primary">Save</button>
            <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>

        </div>

    </div>
</div>
